.idea/
.vscode/
/node_modules
/dist
/dll-dist
/bower_components
/build
/report
/typings
/src/tmp
.DS_Store
/src/assets/styles/*.css
*.map
npm-debug.log
/coverage
/typings
.env

.vscode/settings.json

*.lock
