@import '../variables';

.myshows--badge{
    position: absolute;
    top: 0px;
    right: 0px;
}

.profile-series-list{
    width: 100%;

    th{
        font-weight: 400;
        padding-bottom: 20px;

        &:hover{
            cursor: pointer;
        }

    }

    td{
        padding: 7px 0px 7px 0px;
        font-weight: 300;
    }

    tr:hover .series-indicator{
        display:block;
    }
}

.profile-series{

    // @TODO try to implement a variation on this: http://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid/33375496#33375496

    text-align: left;
    margin: auto;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    li{
        position: relative;
        width: 11.5%;
        display: inline-block;
        padding-bottom: 15px;
        margin-bottom: 20px;

    }

    a{
        display: block;
    }

    span{
        display: block;
    }

}

.big-poster{
    li{
        width: 15.7%;
    }
}.ea-filter .fa-check

.title{
    padding: 0px;
    font-weight: 300;
    /* background-color: $primary-lighter; dit weghalen */
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myshows-filters{

    margin-bottom: 24px;

    &-label{
        color: $light-blue-text;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 0.1em;
        margin-right: 10px;
    }

    input{
        padding: 7px 12px 10px 12px;
        margin: 0px;
        color: #000;
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-image: none;

    }

    .row{
        font-size: 14px;
        letter-spacing: 0.1em;
        background-color: $primary-lighter;
        padding: 20px 0px 20px 0px;
    }

}


.ea-filter{
    margin-left: 12px;
    background-color: $primary-color;

    .fa-check, .fa-plus{
    margin-right: 6px;
  }
    
    &-viewtoggle{
        display: inline-block;
        float: right;
        margin-top: 5px;
        font-size: 20px;
        fill: #fff !important;

        :hover{
            fill: $bright-highlight;
            cursor: pointer;

        }
    }
}


.series-indicator{
    position: absolute;
    left: 0px;
    margin-top: 3px;
    display:none;
}