@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700);


@CHARSET "ISO-8859-1";

body {
  background-color: $background-color;
  color: #C9C9C9;
  font-family: $font-family;
  font-weight: 400;
  overflow-y: scroll;
}

.user-greeting{
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 110%;
  letter-spacing: 0.05em;
  color: $lighter-text;
  padding: 30px 0px 30px 0px;
}


.dropdown-menu{
  min-width: 50px;
}

.user-dropdown,
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle{
  button,
  button:active,
  button:hover
  {
    background-color: $primary-lighter !important;
    color: $light-text !important;
    border: none;
    font-family: $font-header;
    font-weight: 200;
    background-color: $primary-lighter;
    letter-spacing: 0.08em;
  }

li{
  display: block;

  a:hover{
    background-color: #ccc !important;
  }
}

.divider{
  margin: 5px 20px 5px 20px;
}

}

#masterUI{
  //Flexbox
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// usage; description of series, profile welcome, other info
h1 {
  @media(max-width: $screen-xs-max){ padding-bottom: 10px; }

  border-bottom: 1px solid darken(#C9C9C9, 50%);
  padding-top: 0px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #C9C9C9;
  letter-spacing: 0.09em;
}

h2 {
  @media(max-width: $screen-xs-max){ padding-bottom: 10px; }
  border-bottom: 1px solid darken(#C9C9C9, 50%);
  padding-bottom: 15px;
  margin-bottom: 22px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #C9C9C9;
  letter-spacing: 0.09em;
}


/* reset some defaults */
button:focus,
button:active {
  outline: none !important;
}

a {
  color: $bright-highlight;
}

a:hover, a:focus {
  color: $bright-highlight;
}

p {
  margin: 0 0 0px;
}

ul {
  padding-left:  0px;
}

.section-header{
  height: 40px;
  padding: 8px 0px 10px 15px;
  @media(max-width: $screen-xs-max){ padding: 5px 0px 5px 0px; }
  background-color: $primary-color;

  h2{
    margin: 0px;
    padding-top: 2px;
    font-size: 130%;
  }
}

/* spacers */
.spacer-lg{
  padding-top: 40px;
  padding-bottom: 40px;
}

.spacer-md{
  padding-top: 30px;
  padding-bottom: 30px;
}

.spacer-sm{
  padding-top: 15px;
  padding-bottom: 15px;
}

/* overwrite for angular-ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.registration{
  h1{
    color: $bright-highlight;
  }
  ul{
    padding-left: 30px;
    font-size: 1.3em;
  }

}

.row-ea{
  background-color: $primary-color;
}

.password-reset{
  form{
    width: 45%;
  }
}

.login{
  h1{
    color: $bright-highlight;
  }
  .social-login{
    a{
      width: 50%;
    }
  }
  .password-reset{
    font-size: 1em;
    padding-left: 17px;
  }
  form{
    width: 75%;
  }
  .register{
    font-size: 1.4em;
  }
}

.form-control-feedback{
  color: #000000;
}

.unseen-badge{
  position: absolute;
  top: -10px;
  right: 0px;
}

.settings{
  .settings-block{

    h3{
      margin-top: 0px;
    }

    div:first-child{
      background-color: $primary-color;
      padding: 15px;

      div{
        padding: 5px 0px 5px 0px;
      }
    }

    button{
      margin-top: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 120%;
      border: 2px solid #00ff90;
      color: #00ff90;
      border-radius: 20px;
      padding: 3px 10px 4px 8px;
    }
  }
}

.ea-content {
  flex: 1;
  //min-height: 600px;
  @media #{$hidpi-screen}{
    //min-height: 375px;
  }
}

.navbar-nav{
  float: right;
}

.container--navbar {
  font-family: $font-header;
  font-weight: 200;
  background-color: $primary-lighter;
  letter-spacing: 0.08em;

  .navbar-brand{
    letter-spacing: 0.1em;
    margin-top: 6px;
  }

  @media(min-width: $screen-sm-min){ padding: 15px 0px 15px 20px; }

  p{
    margin-right: 10px;
  }


}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
  margin-left: -5px;
  padding: 15px 30px 0px 0px;
}

.footer{
  color: #999999;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  font-size: 80%;

  div{
    text-align: right;
  }

  div:first-child {
    text-align: left;
  }

}

li.disabled{
  display: none;
}

.badge {
  top: -12px;
  right: -10px;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  font-size: 80%;
  border: 2px solid orange;
  border-radius: 15px;
  z-index: 1;
}

.seen-badge{
  border: 2px solid $bright-highlight;
}

/* seen button */
.seen-button {
  color: $bright-highlight;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 90%;
  border: none;
  padding: 3px 8px 4px 8px;
}

.ea-seen-button{
  position: relative;
  float:right;
}

.seen-column:hover .seen-button--season,
.seen-column:hover .seen-button--untill{
  display: inline-block;
}

.seen-button--episode{
  position: relative;
}

.seen-button--season{
  display: none;
  position: absolute;
  left: -154px;
}

.seen-button--untill{
  display: none;
  position: absolute;
  left: -67px;
}

.series-browse{
  .series{
    position: relative;

    span{
      position: absolute;
    }

  }
}

.nav-small{

  text-transform: uppercase;
  top: 6px;
  font-size: 13px;

  .nav-link{
    color: #999999;
    margin-left: 25px;
  }

}

.series-genres {
  text-align: center;
  margin-top : 18px;
  text-transform: uppercase;

  li {
    margin:0px 40px 0px 0px;
    text-align: left;
    display: block;
    list-style: none;
  }

  a.highlight {
    color: orange;
  }
}

.navbar-default {
  margin: auto;
  border: none;
  background-color: $primary-color;

  .navbar-form {
    padding-top: 9px;
  }

  .navbar-brand {
    text-transform: uppercase;
    color: $light-text;
    padding-top: 15px;
    font-size: 20px;

    a {
      color: $light-text;
    }
  }

  .navbar-brand:focus, .navbar-brand:hover {
    color: $light-text;
  }

  .navbar-text {
    color: #fff;
    margin-top: 18px;
    margin-bottom: 0px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media(min-width: $screen-md-min){
      max-width: 170px;
    }

    @media(min-width: $screen-lg-min){
      max-width: 300px;
    }

  }

  .navbar-link {
    color: $light-text;
  }

  .navbar-text > a:hover{
    color: $highlight-color;
  }

  .navbar-nav > li {
    padding: 14px 14px 8px 30px;
  }

  .navbar-nav > li > a {
    color: $light-text;
    text-transform: uppercase;
    top: 6px;
    font-size: 15px;
    padding: 0px 0px 4px 0px;


    @media(max-width: $screen-md-min){
      padding-right:0px; padding-left:5px;
    }

    @media(max-width: $screen-lg-min){
      padding-right:8px; padding-left:5px;
    }
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: $light-text;
    border-bottom: 1px solid $light-text;
  }

  .active{
    border-bottom: 1px solid $light-text;
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: $light-text;
    background-color: pink;
    border-bottom: 1px solid $light-text;
  }


.navbar-form {
  margin-bottom: 2px;
  margin-top: 2px;
}

.form-control-search {
  font-size: 16px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  height: 41px;
  min-width: 350px;
  margin-top: -2px;
  color: $primary-color;
  background-image: none;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-search {
    height: 41px;
    margin-top: -2px;
    padding: 0px 15px 0px 15px;
    color: #FFF;
    background-color: #b7b7b7;
    background-image: none;
    border: 0;
    border-radius: 0;
  }
}
    
.series-detail {

  .tab-content{
    padding: 7px 5px 15px 9px;

    @media(max-width: $screen-xs-max){
      padding: 0px;
    }
  }

  .series-left{
    padding-right: 5px;
  }

  .info-text-top {
    padding: 3px 0px 30px 0px;
    @media(max-width: $screen-xs-max){ padding: 5px 0px 5px 20px; }

    // HiDPI screens
    @media only screen and (-webkit-min-device-pixel-ratio : 2),
    only screen and (min-device-pixel-ratio : 2),
    only screen and (min--moz-device-pixel-ratio: 2) {

      margin-top: -10px;
      padding: 20px 0px 30px 0px;
    }

  }

  h1 {
    @media(max-width: $screen-xs-max){ padding-bottom: 10px; }
    text-shadow: 2px 2px $lighter-text-shadow;
    display: inline-block;
    margin-right: 10px;
    font-size: 160%;

    //TODO move to vars
    font-family: $font-header;
    font-weight: 600;
    border: none;
  }

  li {
    padding: 0px 10px 0px 0px;
    list-style: none;
    font-family: 'Source Sans Pro';
    font-size: 90%;
  }

  img {
    @media(min-width: $screen-md-min){ margin-left: -15px;}
  }

  p, dl {
    text-shadow: 1px 1px $lighter-text-shadow;
  }

  // button position on detail page
  .ea-btn--follow, .ea-btn--archive {
    top: -3px;
    position: relative;
    line-height: 120%;
  }

  .seasons{
    padding-left: 0;
    background-color: $primary-color;
  }

  .btn{
    border-radius: 0px;
  }

  .btn:hover{
    color: #FFF;
  }

  .btn:focus{
    color: $bright-highlight;
  }

  .nav-tabs {
    border: none;
    font-size: 130%;

    a {
      border-radius: 0px;
    }

    li > a {
      text-shadow: none;
      text-decoration: none;
      padding: 12px 16px 12px 16px;
      margin-right: 1px;
      border: none;
      color: #8A8A8A;
      background-color: #363636;
    }

    li > a:hover {
      color: #FFF;
      border: none;
    }

    .active > a {
      color: #FFF;
      border: none;
      background-color: #1a1a1a;
    }

    .active > a:hover,
    .active > a:focus{
      color: #FFF;
      border: none;
      cursor: pointer;
      background-color: #1a1a1a;
    }
  }
}

.series-details-extra {
  background-color: $primary-color;
  margin: 0 0px 40px 0px;
  @media(min-width: $screen-md-min){ margin: 20px 15px 40px -15px;}
  padding: 20px;
  font-size: 90%;

  dt {
    float: left;
    clear: both;
    margin-right: 10px;
  }

  dl {
    margin-bottom: 0px;
  }
}

.ea-facebook{
  font-size: 160%;
  color: #FFFFFF;
  vertical-align: middle;
}

/* -----header----- */

.fancy {
  padding-bottom: 0px;
  margin-top: 30px;
  text-align: center;
  color: $background-line-color;
}
.fancy.background {
  position: relative;
  z-index: 1;
}
.fancy.background:before {
  border-top: 1px solid;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.fancy.background span {
  color: $light-text;
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: $light-grey-background;
  padding: 0 15px;
}



