.profile-series{


  text-align: left;
  margin: auto;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  li{
    position: relative;
    width: 15%;
    display: inline-block;
    padding-bottom: 20px;
  }

  a{
    display: block;
  }

  span{
    display: block;
  }

  .badge{
    right: 10%;
    top: 58%;
    position: absolute;
  }
}